---
import getImageVampire from "../helpers/getImageVampire";

await new Promise((resolve) => setTimeout(resolve, 5000));

const url = getImageVampire(Astro.props.id);
---

<div class="flex gap-4 justify-center items-center">
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.transformedUrl}
    alt="Your image"
  />
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.originalUrl}
    alt="Your image"
  />
</div>
