---
import generateVampireHistory from "../helpers/generateVampireHistory";
import getImageVampire from "../helpers/getImageVampire";
import insertImageRegister from "../helpers/insertImageRegister";
import { converterHtml } from "../libs/showdown";

await new Promise((resolve) => setTimeout(resolve, 5000));

const { id, username } = Astro.props as {
  id: string;
  username: string;
};

console.log(id, username);

const url = getImageVampire(id);

const history = await generateVampireHistory(url.transformedUrl);

await insertImageRegister(id, username, history);

const htmlHistory = converterHtml.makeHtml(history);
---

<div class="flex gap-4 justify-center items-center">
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.transformedUrl}
    alt="Your image"
  />
  <!-- <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.originalUrl}
    alt="Your image"
  /> -->
</div>
<p class="text-left !text-white font-bold" set:html={htmlHistory} />
