---
import getImageVampire from "../helpers/getImageVampire";
import insertImageRegister from "../helpers/insertImageRegister";

await new Promise((resolve) => setTimeout(resolve, 5000));

const { id } = Astro.params as { id: string };
const username = Astro.url.searchParams.get("username") as string;

console.log(id, username);

const url = getImageVampire(id);
await insertImageRegister(id, username, "Pending to generate");
---

<div class="flex gap-4 justify-center items-center">
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.transformedUrl}
    alt="Your image"
  />
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.originalUrl}
    alt="Your image"
  />
</div>
