---
import getImageVampire from "../helpers/getImageVampire";
import insertImageRegister from "../helpers/insertImageRegister";
import generateVampireHistory from "../helpers/generateVampireHistory";
import { convertImageToBase64 } from "../helpers/convertImageUrlToBase64";
import { converterHtml } from "../libs/showdown";
import { model } from "../libs/gemini";

await new Promise((resolve) => setTimeout(resolve, 5000));

const { id } = Astro.params as { id: string };
const username = Astro.url.searchParams.get("username") as string;

console.log(id, username);

const url = getImageVampire(id);

const history = await generateVampireHistory(url.transformedUrl);

await insertImageRegister(id, username, history);

const htmlHistory = converterHtml.makeHtml(history);
---

<div class="flex gap-4 justify-center items-center">
  <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.transformedUrl}
    alt="Your image"
  />
  <!-- <img
    class="h-[300px] w-max aspect-auto rounded-md"
    src={url.originalUrl}
    alt="Your image"
  /> -->
</div>
<div class="bg-white">
  <p set:html={htmlHistory} />
</div>
