---

---

<section class="max-w-3xl mx-auto">
    <h1 class="bg-gradient-to-t from-red-500 to-red-800 bg-clip-text text-transparent text-5xl font-qwitcher-grypen text-center my-2">
        Create an amazing vampire history
    </h1>

    <div class="bg-slate-900 p-4 flex flex-col gap-4 rounded-md text-white shadow font-qwitcher-grypen items-center">
        <h2 class="text-2xl">How it works?</h2>
        <p class="text-white font-sans">
            Upload your image and generate your vampire history
        </p>

        <h2 class="text-2xl">How to generate your vampire history?</h2>
        <p class="text-white font-sans flex flex-col gap-2">
            Click in this button and generate your vampire history
            <a href="/upload" class="flex items-center justify-center w-full">
                <div
                    class="font-semibold text-2xl shadow p-2 border border-amber-500 rounded-lg bg-amber-800 text-white transition-all hover:scale-105
                        w-fit
                    "
                >
                    Generate your own History
                </div>
            </a>
        </p>
    </div>
</section>