---
interface Props {
  id: string;
}
---

<div class="flex items-center justify-center gap-2 p-2">
  <a
    href="/"
    class="w-max p-2 hover:scale-110 transition-all rounded-md object-cover"
  >
    <img src="./input_back.png" alt="Back Arrow" height={100} />
  </a>
  <div
    class="w-full text-white font-semibold text-center text-8xl font-qwitcher-grypen col-span-11"
  >
    Victorian Input
  </div>
</div>
