---
import ImagesCompare from "../../components/ImagesCompare.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Your image has been proceseed">
  <h1 class="text-red-500">fgdsgddfdf</h1>
  <ImagesCompare />
</Layout>
