---
import { CldUploadWidget } from "astro-cloudinary";

// import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
// const images = await getCollection("images");
---

<Layout title="Cloudinary Hackathon">
  <div class="flex flex-col gap-4 items-center p-2 justify-center h-screen">
    <h1 color="brand" class="text-white font-qwitcher-grypen text-6xl text-center">Select your image to generate your Vampire History</h1>
    <input type="text" id="username" placeholder="YOUR NAME" class="p-2 w-1/3 focus:border-red-600 border border-slate-800 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600
      transition-all hover:scale-105 duration-500 bg-slate-600 focus:text-white
    " />
    <CldUploadWidget
      class="w-1/3"
      id="upload-widget"
      uploadPreset="astro-upload-preset"
      options={{
        sources: ["local"],
        multiple: false,
        maxFiles: 1,
        language: "es",
        text: {
          es: {
            or: "O",

            menu: {
              files: "Subir desde tu dispositivo",
            },
            local: {
              browse: "Seleccionar",
              dd_title_single: "Arrastra tu imagen aquí",
            },
          },
        },
      }}
    >
      <button class="bg-slate-600/25 p-2 text-white font-semibold w-full min-h-[30vh] rounded-md transition-all hover:bg-slate-400/25 duration-500 border-2 border-slate-600/25
        hover:scale-105 hover:border-slate-800 hover:shadow-xl
      ">Upload your image</button>
    </CldUploadWidget>
    
    <button id="submit-image" class="bg-red-600 p-2 text-white font-semibold rounded-md hover:bg-red-700 transition-all w-fit hover:scale-105 duration-500">
      Generate your vampire history
    </button>
  </div>

  <script>
    import { navigate } from "astro:transitions/client";

    let image_id: string | undefined;
    const widget = document.getElementById("upload-widget");
    const username = document.getElementById("username") as HTMLInputElement;
    const submit = document.getElementById("submit-image");

    if (widget) {
      widget.addEventListener("clduploadwidget:success", ((
        e: CustomEvent<{ info: { public_id: string } }>,
      ) => {
        const publicId = e.detail.info.public_id;
        image_id = publicId;
      }) as EventListener);
    }

    if (submit) {
      submit.addEventListener("click", (() => {
        if (image_id && username?.value?.length) {
          navigate(`/upload/${image_id}?username=${username.value}`);
        }
      }) as EventListener);
    }
  </script>

  <style>
    main {
      width: 800px;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
    }

    h2 {
      margin-bottom: 32px;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;
      list-style: none;
    }
  </style>

  <script></script>
</Layout>
