@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
